@charset "UTF-8";
/* CSS Document */
body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family:
} 

.topnav {
    width: 1000%;
	height: 10%;
	margin-top:1%;
	background-color: 
}
.topnav a {
  color:brown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
	webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.topnav a.active {
  color: white;
}
 #home {
	 
	margin-left:600px;
	
}
.topnav .box {
	margin-right: 700px;
	with:100px;
	height:56px;
	margin-left:14px;
}

.topnav img{
	width: 150px;
}
#mika{
	width:800px;
	height:400px;
	background-color:gold;
	margin-left:60%;
	margin-top: 25%;
	font-size:40pt;
    color:brown;
	webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
#wonka{
	width:100px;
	height:70px;
	margin-top: 5%;
	background-color:;
	font-size:40pt;
	margin:16px;
	color:brown;
	webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.outer 
{
	width: 100%;
	height: 100%;
	background-color:gold;
	scroll-behavior: smooth;
	overflow-y: scroll;
}
.noidung .boder{
	width:5px;
	height:5px;
	background-color:gold;
	margin-top:17%;
	margin-left: 20%;
    padding:0;
}
.noidung .boder img{
	width:500px;
	margin-top: 0px;
	margin-left: 100px;
    padding: 0;
	margin: auto;
	margin-bottom: 20px;
}

body {
  font-family: 'Lato', sans-serif;
}
img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.noidung {
	width:100%;
    height:1000px;
	background-color: gold;
	display: flex;
}
.container {
    width: 80%;
    margin: 50px auto 0;
    padding: 20px;
	float:30px;
	margin-right: 30%;
	margin-top: 15%;
}

li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
}

li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}

li:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color:orange;
    border-radius: 1000px;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }
}

li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 80%;
    }
}

li.js:after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 75%;
    }
}

li.ng:after {
    animation-name: ng;
}

@keyframes ng {
    to {
        width: 60%;
    }
}
#deko {
	width:3px;
	height:1px;
	font-size:40pt;
	webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.column {
  float: left;
  width: 600px;
  padding: 5px;
	margin:auto;

	
}
.column #deko{
	margin-right: 80%;
	
}
 


.noidung .column img{
	width:100%;
	margin-top: 50%;
	
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#hello{
	width:3px;
	height:1px;
	font-size:40pt;
	webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.noidung .mott{
	width: 40px;
	height: 40px;
	float:left;
	margin:auto;
	padding:0;
}
.noidung .mott img{
	width:40px;
}
.noidung #fotter{
	width:100%;
	height:15%;
	background-color:#A9A9A9;
	margin-top: 100%;
}
.footer1 {
	width: 100%;
	height: 200px;
	float: left;
/*	background:orange;*/
/*
	margin-left: 20px;
	margin-bottom: 63px;
*/ 
	border-top: 0.5px solid #110DA9;
}

.footer1 r{
	text-align: center;
	margin-left:50px;
}
.footer1 b{
	text-align: center;
	margin-left:50px;
	color:gold;
}
h6{
	font-size:20pt;
	margin-left: 110px;
   color: white;
     
}

